apache-airflow-providers-amazon
apache-airflow-providers-apache-hive
apache-airflow-providers-apache-spark==4.0.1
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-datadog
apache-airflow-providers-facebook
apache-airflow-providers-ftp
apache-airflow-providers-google
apache-airflow-providers-grpc
apache-airflow-providers-http
apache-airflow-providers-jdbc
apache-airflow-providers-postgres
apache-airflow-providers-presto
apache-airflow-providers-redis
apache-airflow-providers-sftp
apache-airflow-providers-slack
apache-airflow-providers-ssh
autopep8
pytest
pytest-cov
pytest-xdist
coverage_conditional_plugin